{% include base_path %}


<div style="overflow:auto; display:table; margin-bottom: 20px;">
  
  {% if post.imgsrc %}
    <div style="width:100%"><img src="{{ post.imgsrc }}" height="95%" width="95%" border="5px"></div>
  {% endif %}
  
  <div style="width: 100%;">
    {% if post.venue %}
      <b>{{ post.venue }}</b> <br>
    {% endif %}

    {% if post.title %}
      <b style="font-size: 1.1em;">{{ post.title }}</b> <br>
    {% endif %}

     {% if post.authors %}
      {{ post.authors }} <br>
    {% endif %}
    
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}"> Pre-print </a> &nbsp 
    {% endif %}
        
    {% if post.videourl %}
      <a href="{{ post.videourl }}"> Video </a> &nbsp 
    {% endif %}
        
    {% if post.authors %}
      <a href="{{ post.repository }}"> Repo </a> &nbsp 
    {% endif %}
    <br>
    
  </div>
</div>

<!--<div class="selected-publications">
  {% if site.selected_publications %}
    <h1>Selected Publications</h1>
    {% assign publications = site.selected_publications | reverse %}
    {% for item in publications %}
    <div style="overflow:auto; display:table; margin-bottom: 20px;">
      <h2>item</h2>
      <b>{{item}}</b>
      <div style="float: left; width:30%"><img src="{{ item.imgsrc }}" height="95%" width="95%" border="5px"></div>
      <div style="float: right; width: 70%;">
        <b style="color:#696969; text-decoration: underline; text-decoration-color: #696969;">{{ item.venue }}</b>
        {% if item.honourablemention %}
          <span class="award" style="float:right;"><i class="fas fa-medal"></i> Honourable Mention Award</span>
        {% endif %}
        <br>
        <b style="font-size: 1.1em;">{{ item.title }}</b> <br>
        <i style="font-size: 0.9em">{{ item.authors }}</i>
        <div class="links" style="padding-top: 10px;">
          {% if item.paperurl %}
            <a class="button-pdf" href="{{ item.paperurl }}"><i class="fas fa-file-pdf"></i> PDF</a>
          {% endif %}
          {% if item.videourl %}
            <a class="button-video" href="{{ item.videourl }}"><i class="fab fa-youtube"></i> Video</a>
          {% endif %}
          {% if item.website %}
            <a class="button-website" href="{{ item.website }}"><i class="fas fa-globe"></i> Website</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>-->
